# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

#personal
#notes
note.txt
reviews.txt
reviews.js
#/trash
/trash
temp.js
cilcmd.text
errorSolution.txt
learn-ref.txt
notes.txt
tricks.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

